# Development Environment
.vscode
.DS_Store

# Python
*.ipynb
__pycache__
venv/
.python-version

# Misc and Config
.sass-cache/
.sass-cache/*
logs/*
/static/
*.cfg 

/test.py
Lib/*
Scripts/*

credentials/
back.sqlite3
db.sqlite3
data/*
visual/config.yml

