<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>
            <a href="{% url 'admin:index' %}" class="nav__link nav__logo active">
                <i class='bx bxs-bar-chart-alt-2 nav__icon' ></i>
                <span class="nav__logo-name">TriAL</span>
            </a>

            <div class="nav__list">
                <div class="nav__items">
                    <h3 class="nav__subtitle">Navigation</h3>

                    <a href="{% url 'admin:index' %}" class="nav__link {% if page_name and page_name == 'index' %}active{% endif %}">
                        <i class='bx bx-home nav__icon' ></i>
                        <span class="nav__name">Dashboard</span>
                    </a>


                    <a href="{% url 'admin:advanced_search' %}" class="nav__link {% if page_name and page_name == 'advanced' %}active{% endif %}">
                        <i class='bx bx-search nav__icon' ></i>
                        <span class="nav__name">Advanced Search</span>
                    </a>

                </div>


                <div class="nav__items">
                    <h3 class="nav__subtitle">Apps</h3>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link {% if not page_name %}active{% endif %}">
                            <i class='bx bx-data nav__icon' ></i>
                            <span class="nav__name">Data</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                {% if app_list %}
                                    {% for app in app_list %}
                                        {% for model in app.models %}
                                        {% if model.admin_url %}
                                            <a href="{{ model.admin_url }}" class="nav__dropdown-item" {% if model.admin_url in request.path %} aria-current="page"{% endif %}>{{ model.name }}</a>
                                        {% else %}
                                            <a href="" class="nav__dropdown-item">{{ model.name }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

                
                <div class="nav__items">
                    <h3 class="nav__subtitle">Notifications</h3>

                    <a href="{% url 'admin:newsletter' %}" class="nav__link {% if page_name and page_name == 'newsletter' %}active{% endif %}">
                        <i class='bx bx-news nav__icon' ></i>
                        <span class="nav__name">Newsletter</span>
                    </a>
                </div>

                
                <div class="nav__items">
                    <h3 class="nav__subtitle">Custom</h3>

                    <a href="#" class="nav__link">
                        <i class='bx bx-wrench nav__icon' ></i>
                        <span class="nav__name">Settings</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Profile</span>
                    </a>
                </div>


            </div>
        </div>

        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <a href="{% url 'admin:logout' %}" class="nav__link nav__logout">
            <i class='bx bx-log-out nav__icon' ></i>
            <span class="nav__name">Log Out</span>
        </a>
        </form>

    </nav>
</div>