{% extends 'panels/base_site.html' %}

{% block extrahead %}
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container-lg py-4">

        <div class="row">
            <div class="col-sm">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <i class="bx bx-folder fs-2 mb-2 text-primary"></i>
                        <h6 class="card-title">Trials</h6>
                        <p class="card-text fs-3"><strong>{{ stat_trials }}</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <i class="bx bx-injection fs-2 mb-2 text-primary"></i>
                        <h6 class="card-title">Conditions/Diseases</h6>
                        <p class="card-text fs-3"><strong>{{ stat_conditions }}</strong></p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <i class="bx bx-first-aid fs-2 mb-2 text-primary"></i>
                        <h6 class="card-title">Interventions</h6>
                        <p class="card-text fs-3"><strong>{{ stat_agents }}</strong></p>
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <i class="bx bx-capsule fs-2 mb-2 text-primary"></i>
                        <h6 class="card-title">Drugs</h6>
                        <p class="card-text fs-3"><strong>{{ stat_drugs }}</strong></p>
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <i class="bx bx-world fs-2 mb-2 text-primary"></i>
                        <h6 class="card-title">Countries</h6>
                        <p class="card-text fs-3"><strong>{{ stat_countries }}</strong></p>
                    </div>
                </div>
            </div>

            
        </div>


        <div class="row">
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title mt-0">Countries With The Most Trials</h6>
                        {{ top_countries|safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-8 my-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title mt-0">World Map By Trials Count</h6>
                        {{ map|safe }}
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 my-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title mt-0">Trials by Phase</h6>
                        {{ phases|safe }}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 my-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title mt-0">Mechanism of Actions</h6>
                        {{ moa|safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h6 class="card-title mt-0">Trials by Status</h6>
                        {{ status|safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card my-3">
                    <div class="card-body">
                        <h6 class="card-title mt-0">Recent Updates</h6>
                        {{ recent_update | safe }}
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}
